@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: #d2dbbb; */
  /* background-color: aqua; */
}

body {
  background-color: #d2dbbb;
}
.heading {
  display: flex;
  justify-content: center;
  background-color: #fff;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.slotmach {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  margin: 0 30%;
  /* align-items: center; */
}
.slot_in {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  margin: 1rem;
}